name: Ruby Gem - Build + Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build + Publish
    runs-on: macos-latest
    timeout-minutes: 25

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby 2.7
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.3
        bundler-cache: true

    - name: Add SHORT_SHA env property with commit short sha
      run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

    - name: Install Golang
      uses: actions/setup-go@v2
      with:
        go-version: ^1.17

    - name: Build shared library on OS X
      run: go build -v -buildmode=c-shared -o proxy/planetscale-darwin.so

    - name: Build shared library on Linux
      run: docker run -v $(pwd):/planetscale-ruby golang sh -c 'cd /planetscale-ruby && go build -v -buildmode=c-shared -o proxy/planetscale-linux.so'

    - name: Publish to GPR
      run: |
        gem build *.gemspec
        gem push --KEY github --host https://rubygems.pkg.github.com/${OWNER} *.gem
      env:
        GEM_BUILD: 1
        GEM_HOST_API_KEY: "Bearer ${{secrets.GITHUB_TOKEN}}"
        OWNER: ${{ github.repository_owner }}
